<div class="comment-area">
  <h3 class="comment-title">3 Reviews</h3>
  <ol class="comment-list">

  <% 3.times do |c|%>
    <li class="comment">
      <article class="comment-body">
        <div class="comment-image">
          <img src="images/blog/comment_01.png" alt="">
        </div><!-- /.comment-image -->
        <div class="comment-content">
          <div class="comment-metadata">
            April 8, 2017 9:48 pm
          </div>
          <h5>
            The food was amazing
            <span>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </span>
          </h5>
          <div class="comment-author">
            by <a href="#" title="">Alex luthor</a>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <div class="comment-like">
            <ul>
              <li>
                <a href="#" title=""><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 2</a>
              </li>
              <li>
                <a href="#" title=""><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 0</a>
              </li>
            </ul>
            <div class="comment-reply">
              <a href="#" title="">Reply</a>
            </div>
          </div><!-- /.comment-like -->
        </div><!-- /.comment-content -->
      </article><!-- /.comment-body -->
    </li><!-- /.comment -->
<%end%>
  </ol><!-- /.comment-list -->
  <div class="load-more">
    <a href="" title="">Load More</a>
  </div>
