<section class="flat-title">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="title-left">
          <div class="queue">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
          </div><!-- /.queue -->
          <div class="box-title">
            <span>Ad</span><a href="#" title="">AN Restaurant</a><i class="fa fa-check-circle" aria-hidden="true"></i>
          </div><!-- /.box-title -->
          <ul class="box-address">
            <li class="address"><i class="fa fa-map-marker" aria-hidden="true"></i>2 / 51 Hoang Cau Street, Hanoi, Vietnam</li>
            <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i>(+84) 936 736 288</li>
          </ul><!-- /.box-address -->
        </div><!-- /.title-left -->
      </div><!-- /.col-md-8 -->
      <div class="col-md-4">
        <div class="title-right">
          <p><a href="#" title="">Share<i class="fa fa-share-square-o" aria-hidden="true"></i></a></p>
          <div class="btn-more review">
            <a href="#" title="">Write A Review</a>
          </div>
          <div class="btn-more">
            <a href="#" title="">Book Now</a>
          </div>
          <div class="clearfix"></div>
        </div><!-- /.title-right -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-title -->
