

  <div class="comment-respond">
    <h2 class="comment-reply-title">Leave a Review</h2>
    <div class="comment-vote">
      <p>Your Rating for this listing</p>
      <span class="queue">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </span>
      <span>Goodc !!!</span>
    </div>
    <form action="#" class="comment-form" method="get" accept-charset="utf-8">
      <div class="comment-form-email">
        <label for="comment-email">Your Email</label>
        <input type="email" id="comment-email" name="email">
      </div>
      <div class="comment-form-title">
        <label for="comment-title">Title</label>
        <input type="text" id="comment-title" name="comment-title">
      </div>
      <div class="clearfix"></div>
      <div class="comment-form-comment">
        <label for="comment-comment">Review</label>
        <textarea id="comment-comment" name="comment"></textarea>
        <p>
          Your review recommended to be at least 140 characters long
        </p>
      </div>
      <div class="submit-form">
        <button type="submit">Submit Your Review</button>
      </div>
    </form><!-- /.comment-form -->
  </div><!-- /.comment-respond -->
</div><!-- /.comment-area -->
