
<section id="main_rec_card" class="flat-row flat-imagebox style3">
		<div class="container">
			<div class="wrap-imagebox style3">
				<div class="row">

		<!--##################################################################  -->
			<% ["세브란스 병원","삼성 병원","한마음 병원"].each do |h|%>
					<div class="col-sm-12">
						<div class="imagebox style2">
							<div class="box-imagebox">
								<div class="box-header">
									<div class="box-image">
										<img src="<%= asset_path 'page/img-v2-01.png'%>" alt="">
										<a href="#" title="">Preview</a>
									</div>
								</div><!-- /.box-header -->
								<div class="box-content">
									<div class="box-title ad">
										<a href="temp/detail">sdf</a>
										<span>Ad</span><a href="#" title=""><%= h%></a><i class="fa fa-check-circle" aria-hidden="true"></i>
										<div class="queue">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star-half-o" aria-hidden="true"></i>
										</div>
									</div>
									<ul class="rating">
										<li>5 rating</li>
										<li>Moderate</li>
										<li>Restaurant</li>
									</ul>
									<div class="box-desc">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									</div>
									<ul class="location">
										<li class="address"><span class="ti-location-pin"></span>Hanoi, Vietnam</li>
										<li class="closed">Closed Now !</li>
									</ul>
								</div><!-- /.box-content -->
							</div><!-- /.box-imagebox -->
						</div><!-- /.imagebox style2 -->
					</div><!-- /.col-sm-12 -->
				<%end%>
					<!--##################################################################  -->


				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-team -->
