<section class="page-title style2 parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          다나아<span style="color: red;"> +</span>
        </div>
        <div class="text-heading">
          서비스 준비중 입니다.
        </div>
        <div class="wrap-box-search">
          <form action="#" method="get" accept-charset="utf-8">
            <span>
              <input type="text" placeholder="병명을 입력해주세요" name="search">
            </span>
            <span class="location">
              <span class="ti-location-pin"></span>
              <input type="text" placeholder="서울시 역삼 1동" name="location">
            </span>
            <span class="categories">
              <span class="ti-angle-down"></span>
              <select name="categories">
                <option value="">카테고리 선택</option>
                <option value="">소아과</option>
                <option value="">산부인과</option>
                <option value="">내과</option>
                <option value="">외과</option>
                <option value="">피부과</option>
                <option value="">성형외과</option>
                <option value="">정형외과</option>
                <option value="">한의원</option>
                <option value="">안과</option>
                <option value="">이비인후과</option>
                <option value="">치과</option>
                <option value="">약국</option>

              </select>
            </span>

            <button id="main_search" class="search-btn">찾기</button>

            <!-- #type="submit" -->
          </form><!-- /form -->
        </div><!-- /.wrap-box-search -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="overlay"></div>
</section><!-- /.page-title -->
