
<section class="page-title style2 parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          다나아<span style="color: red;"> +</span>
        </div>
        <div class="text-heading">
          서비스 준비중 입니다.
        </div>
        <div class="wrap-box-search">

          <form id="search_form"accept-charset="utf-8">
            <span>
              <input type="text" placeholder="병원명을 입력해주세요" name="query">
            </span>
            <span class="location">


                <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
              <!-- <% if @client_location.nil?
                    @client_location=""
                end
              %> -->
              <a style="color: #4ca1af;" id="get_location" class="btn btn-outline-info">
                <% if @client_location.length <10%>
                <span id="location_check">위치 검색 </span><span class="ti-location-pin"></span>
                <%else%>
                  <span id="location_check" style="color:red;">위치 재검색 </span><span style="color:red;" class="ti-location-pin"></span>
                <%end%>
             </a>
              <input type="hidden" name="location" value="<%=@client_location%>" >
            </span>
            <span class="categories">
              <span class="ti-angle-down"></span>
              <select name="categories">
                <option value="">카테고리 선택</option>
                <option value="">소아과</option>
                <option value="">산부인과</option>
                <option value="">내과</option>
                <option value="">외과</option>
                <option value="">피부과</option>
                <option value="">성형외과</option>
                <option value="">정형외과</option>
                <option value="">한의원</option>
                <option value="">안과</option>
                <option value="">이비인후과</option>
                <option value="">치과</option>
                <option value="">약국</option>

              </select>
            </span>

            <button id="main_search" class="search-btn">찾기</button>
            <!-- #type="submit" -->
          </form><!-- /form -->
        </div><!-- /.wrap-box-search -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="overlay"></div>
</section><!-- /.page-title -->
<script>
// $("#get_location").click(function(){
//   window.location.href=""
// })

//"<%#=@client_location%>"
$("#get_location").click(function(e){
  e.preventDefault();
  window.location.href="temp/map"
})
$('#get_location').on('keypress', function(e) {
    return e.which !== 13;
});

</script>
