<div id="map" style="width:100%;height:400px;"></div>

<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=XL2c3jU2Ny_a5UL9fBkN&submodules=geocoder"></script>

<script>
  var mapOptions = {
    scaleControl: false,
    logoControl: true,
    mapDataControl: false,
    zoomControl: true,
    zoomControlOptions:{
      position: N.Position.RIGHT_CENTER
    },
    minZoom: 5,
    maxZoom: 12
  };
  //지도 컨트롤 추가
var map = new N.Map('map', mapOptions);
var location = new naver.maps.LatLng(37.5666805, 126.9784147);
var markers = [];
var InfoWindow = [];
var indices =[];
var data;

map.setCenter(location);
map.setZoom(13)

function getData() {
  var
}
</script>
