<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-ft">
					<li>
						<a href="#" title="">
							<i class="ti-facebook" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="#" title="">
							<i class="ti-twitter-alt" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="#" title="">
							<i class="ti-instagram" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="#" title="">
							<i class="ti-google" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="#" title="">
							<i class="ti-pinterest" aria-hidden="true"></i>
						</a>
					</li>
				</ul><!-- /.social-ft -->
				<div class="copyright">
					© 2017 Copyright by Deercreative. All rights reserved.
				</div><!-- /.copyright -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.footer-bottom -->

<div class="button-go-top">
	<a href="#" title="" class="go-top">
		<i class="fa fa-chevron-up"></i>
	</a><!-- /.go-top -->
</div><!-- /.button-go-top -->
